<section class="container" style="margin-top:80px">
	<div class="content">
		${(content.componentContent)!}
	</div>	
	<div class="form-group">
		<label for="temporaryCode">Saisir le code</label>
		<input id="temporaryCode" class="form-control" name="temporary_code" />
		<div id="messageErreur" class="text-danger"></div>
	</div>
	<div class="form-group">
		<button id="btnValid" class="btn btn-primary" type="button">Continuer</button>
		<button id="btnCancel" class="btn btn-grey" type="button">Annuler</button>
	</div>
</section>
<script>
$(function(){
	
	var validatorId = '${(content.validatorId)!}';
	
	$('#btnValid').click( function(){
		var temporaryCode = $('#temporaryCode').val();
	    var url = "jsp/site/Portal.jsp?page=temporaryCodeValidator&action=doCheckTemporaryCode";
	    
	    var data = {validator_id:validatorId,temporary_code: temporaryCode};
	    $.ajax({
	        url: url,
	        type: "POST",
	        dataType: "json",
	        data: data,
	        success: function (data) {
	            if ( data.status == 'OK' ) {
	            	window.location.href = '${(content.backUrlValidBtn)!}';
	            } else {
	            	var messageError = data.error_message;
	            	$('#messageErreur').html(messageError);
	            }
	        },
	        error: function (jqXHR, textStatus, errorThrown) {
	        	$('#messageErreur').html("Erreur technique");
	        }
	    });  
	});
	
	
	
	$('#btnCancel').click(function(){
		window.location.href = '${(content.backUrlCancelBtn)!}';
	});
});
</script>
