<#include "managecode_tabs.html" />
<@tabs2 tab="temporarycodeconfig" />

<@box>
	<@boxHeader title='#i18n{temporarycode.manage_temporarycodeconfig.title}' boxTools=true>
		<@tform class='form-inline pull-right' name='manage_temporarycodeconfig' action='jsp/admin/plugins/temporarycode/ManageTemporaryCodeConfigs.jsp'>
			<@button type='submit' name='view_createTemporaryCodeConfig' buttonIcon='plus' title='#i18n{temporarycode.manage_temporarycodeconfigs.buttonAdd}' />
		</@tform>
	</@boxHeader>
	<@boxBody>    
    <@messages infos=infos />
    <@paginationAdmin paginator=paginator combo=1 />
    <div class="clearfix"></div>
    <@table>
        <tr>
            <th>#i18n{temporarycode.manage_temporarycodeconfigs.columnId}</th>
            <th>#i18n{temporarycode.manage_temporarycodeconfigs.columnCodeLength}</th>
            <th>#i18n{temporarycode.manage_temporarycodeconfigs.columnValidityTime}</th>
            <th>#i18n{temporarycode.manage_temporarycodeconfigs.columnCharacter}</th>
            <th>#i18n{portal.util.labelActions}</th>
        </tr>
        <@tableHeadBodySeparator />
        <#list temporarycodeconfig_list as temporarycodeconfig >
        <tr>
            <td>
				${temporarycodeconfig.id}
			</td>
            <td>
				${temporarycodeconfig.codeLength}
			</td>
            <td>
				${temporarycodeconfig.validityTime}
			</td>
            <td>
				${temporarycodeconfig.characterType}
			</td>
        	<td>
				<@aButton href='jsp/admin/plugins/temporarycode/ManageTemporaryCodeConfigs.jsp?view=modifyTemporaryCodeConfig&id=${temporarycodeconfig.id}' title='#i18n{portal.util.labelModify}' hideTitle=['all'] buttonIcon='pencil' />
						
				<@aButton href='jsp/admin/plugins/temporarycode/ManageTemporaryCodeConfigs.jsp?action=confirmRemoveTemporaryCodeConfig&id=${temporarycodeconfig.id}' title='#i18n{portal.util.labelDelete}' buttonIcon='trash' hideTitle=['all'] color='btn-danger'  />

	        </td>
        </tr>
        </#list>
    </@table>

    <@paginationAdmin paginator=paginator />

  </@boxBody>
</@box>
